---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import ergoProyectoImg from "../assets/projects/ergoproyecto.webp";
import alexandraImg from "../assets/projects/alexandra.webp";
import damacomImg from "../assets/projects/damacom.webp";
import ulpanImg from "../assets/projects/ulpan.webp";
import catsImg from "../assets/projects/cats.webp";
import comparteImg from "../assets/projects/comparte.webp";
import spotifyImg from "../assets/projects/spotify.webp";

const PROJECTS = [
  {
    title: "Damacom Tracking System",
    description:
      "Damacom is a system for tracking the entire panela production process. I developed the entire frontend using ReactJs, Vite, TypeScript, SASS, employing best practices, and optimizing ",
    link: "https://damacom.deno.dev/",
    image: damacomImg.src,
  },
  {
    title: "Alexandra Villarroel",
    description:
      "Alexandra Villarroel is an internationally recognized Canadian coach. The project was developed using the GSAP library and the Bootstrap framework, along with JavaScript, PHP, and MySQL. The entire animation and implementation of the presented design were carried out.",
    link: "https://alexandravillarroel.com/",
    image: alexandraImg.src,
  },
  {
    title: "Ergoproyecto",
    description:
      "Design and development of the website according to client requirements, based on JavaScript and PHP. ErgoProjects is one of the largest architecture firms in Colombia.",
    link: "https://ergoproyectos.com/",
    github: "",
    image: ergoProyectoImg.src,
  },
  {
    title: "Ulpan Yovel",
    description:
      "Development of an educational platform, where different courses and teachers can be managed, using wordpress as the content manager.",
    link: "https://ulpanyovel.com/ulpan/",
    image: ulpanImg.src,
  },
  {
    title: "Dressed in Blue",
    description:
      "Development and design of the website for this company, the largest breeding facility in Colombia for CHARTREUX and Norwegian Forest cats. Developed using JavaScript, HTML, SASS with a focus on SEO for Colombia.",
    link: "https://dressedinblue.com.co/",
    image: catsImg.src,
  },
  {
    title: "Comp@rt",
    description:
      "I developed a Pinterest clone using TypeScript, NextJs, Tailwind, and utilized the Sanity CMS as the backend through GraphQL.",
    link: "https://compart.netlify.app/",
    github: "https://github.com/oskr1103/front-compart",
    image: comparteImg.src,
  },
  {
    title: "Clone Spotify",
    description:
      "I developed a Spotify clone as an entry project in my current job using the Spotify API. It was built using React with TypeScript, Redux, and SASS, while adhering to the clean code methodology and best practices. Note: Authorization is required to access it since it is in development mode. If you would like access, please write to me, and I will be happy to provide it.",
    link: "https://isai-music-clone.netlify.app/",
    github: "https://github.com/oskr1103/music-app",
    image: spotifyImg.src,
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Works Isai Colina"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
